.home-header {
  display: flex;
  background-color: white;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  height: 7vh;
  z-index: 99;
}

.home-header-logo {
  background-color: rgba(28, 29, 29, 0.5);
  width: 100%;
  min-width: auto;
  max-width: 80px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.header-logo {
  height: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.home-header-title {
  font-size: 1.1rem;
}

.home-header-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 20px;
}

/* medium screens  */
@media screen and (min-width: 768px) {
  .home-header-logo {
    width: 12%;
    min-width: 210px;
  }

  .header-logo {
    height: 2rem;
  }

  .home-header-title {
    font-size: 1.6rem;
  }
}

@media screen and (max-height: 799px) {
  .home-header {
    height: 8vh;
  }
  .home-header-logo {
    padding-top: 5px;
  }
}

@media screen and (max-height: 700px) {
  .home-header {
    height: 9vh;
    padding-top: 0px;
  }
}
