.transactionHistory-container {
  height: 93vh;
  padding: 20px;
  overflow-y: scroll;
}

.search-date-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.table-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.input-date-dropdown-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashed-line {
  width: 98%;
  border-bottom: dashed rgba(125, 125, 125, 0.5) 1px;

  margin-top: 10px;
  margin-bottom: 25px;
}

.tableContainer {
  width: 100%;
  padding: 15px;
}

.tableContainer th {
  background-color: rgba(46, 49, 49, 0.15) !important;
  color: #333 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px;
  /* border-color: gray !important; */
}

.tableContainer td {
  font-size: 11px;
  font-weight: 300 !important;
  color: black;
}

/* mobile -  */
/* 0 to 500px  */
@media screen and (max-width: 500px) {
  .transactionHistory-container {
    padding: 5px;
  }
  .search-date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .input-date-dropdown-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .dropdown-item-btn {
    width: 50%;
  }

  .tableContainer {
    padding: 0px;
  }
}

/* large mobile to tablet   */
/* 501px to 768px  */
/* @media screen and (max-width: 500px) {

} */

/* *from 769 to 1200 --- laptop devices */
/* @media screen and (min-width: 769px) and (max-width: 1200px){
	// rules
} */

/* *from 1201 and up --- desktop and large screen devices */
/* @media screen and (min-width: 1201px) {
	// rules
} */
