.trips-table-container {
  padding: 0;
}
.trips-table-container table {
  font-size: 0.6rem;
}

.ant-table-pagination {
  justify-content: center;
  /* margin-top: 50px !important; */
}

.trips-table-container th {
  background-color: rgba(46, 49, 49, 0.15) !important;
  font-weight: bold !important;
}

.trips-table-container button,
.trips-table-container button:hover,
.trips-table-container button:focus,
.trips-table-container button:active {
  background-color: rgba(46, 49, 49, 0.5);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  border-color: transparent;
  transition: transform 500ms;
}

.trips-table-container button:hover {
  transform: scale(1.1);
  background-color: rgba(105, 110, 110, 0.5);
}

/* mobile -  */
/* 0 to 500px  */
@media screen and (min-width: 1200px) {
  .trips-table-container {
    padding: 40px;
  }

  .trips-table-container table {
    border: 1px solid lightgray;
    font-size: 0.8rem;
  }
}
