.book-ticket-container {
  background-color: white;
  padding: 40px 20px;
  height: 93vh;
}

.dashed-line {
  width: 92.5%;
  border-bottom: dashed rgba(125, 125, 125, 0.5) 1px;
  margin: 1rem auto;
}

/* mobile -  */
/* 0 to 500px  */
@media screen and (max-width: 500px) {
  .book-ticket-container {
    padding: 20px 10px;
  }
}
