.book-ticket-container {
  padding: 20px 10px;
  background-color: white;
  height: 93vh;
  overflow-y: scroll;
}

.dashed-line {
  width: 92.5%;
  border-bottom: dashed rgba(125, 125, 125, 0.5) 1px;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .book-ticket-container {
    padding: 40px 20px;
  }
}

@media screen and (max-height: 799px) {
  .book-ticket-container {
    height: 92vh;
  }
}
